{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div>
        <a target="_blank" href="{{ path('download', {'field': field, 'order': order}) }}">
            Download
        </a>
    </div>
    <div class="example-wrapper">
        <table>
            <tr>
                <td>ID
                    <a href="{{ path('properties', {'field': 'ID', 'order': 'ASC'}) }}">
                        &uarr;
                    </a>
                    <a href="{{ path('properties', {'field': 'ID', 'order': 'DESC'}) }}">
                        &darr;
                    </a>
                </td>
                <td>
                    Title
                    <a href="{{ path('properties', {'field': 'TITLE', 'order': 'ASC'}) }}">
                        &uarr;
                    </a>
                    <a href="{{ path('properties', {'field': 'TITLE', 'order': 'DESC'}) }}">
                        &darr;
                    </a>
                </td>
                <td>
                    Link
                    <a href="{{ path('properties', {'field': 'LINK', 'order': 'ASC'}) }}">
                        &uarr;
                    </a>
                    <a href="{{ path('properties', {'field': 'LINK', 'order': 'DESC'}) }}">
                        &darr;
                    </a>
                </td>
                <td>
                    City
                    <a href="{{ path('properties', {'field': 'CITY', 'order': 'ASC'}) }}">
                        &uarr;
                    </a>
                    <a href="{{ path('properties', {'field': 'CITY', 'order': 'DESC'}) }}">
                        &darr;
                    </a>
                </td>
                <td>
                    Picture
                    <a href="{{ path('properties', {'field': 'PICTURE', 'order': 'ASC'}) }}">
                        &uarr;
                    </a>
                    <a href="{{ path('properties', {'field': 'PICTURE', 'order': 'DESC'}) }}">
                        &darr;
                    </a>
                </td>
            </tr>
            {% for property in properties %}
                <tr>
                    <td>{{ property.id }}</td>
                    <td>{{ property.title }}</td>
                    <td>{{ property.url }}</td>
                    <td>{{ property.city }}</td>
                    <td><img src="{{ property.picture }}"/></td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
